<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ngadep.fatteningcattle">

    <application
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".packages.PackageActivity" />
        <activity android:name=".packages.edit.EditPackageActivity" />
        <activity android:name=".cows.CowActivity" />
    </application>

</manifest>